.main_body {
    padding-top: 45px;
    height: 600px;
   

}
.main_body_dark{
    padding-top: 45px;
    height: 600px;
    background-color: black;
    color: #fff;
       

}
.purple{
color: RGB(147, 51, 234)
}

.home_body {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.home_body .left {
    padding-left: 100px;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
    width: 48vw;
}

.home_body .right {

    width: 40vw;
    overflow: hidden;
}

.home_body .right img {
    margin-right: -100px;
    border-radius: 50%;
    width: 400px;
}

.home_body .left {
    /* display:inline-flex; */
    /* width: 30%; */
    /* justify-content: flex-start; */
    flex-direction: column;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.home_footer_body_thirdsection ul {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.home_footer_body_thirdsection ul li {

    list-style: none;
    margin: 0 7px;
}

.home_footer_body_thirdsection ul li img {
    border-radius: 20px;
    box-shadow: 5px 3px 5px rgb(0 0 0 / 40%);
    width: 40px;
    margin-bottom: 10px;
}