.mail_body {
    margin: 100px;
  
}
.mail_body .hidden{
    margin-bottom: 50px;
}
 
.mail_body .form_data {
    margin: auto;   
     width: 65%;
     /* justify-content: center; */
}

.mail_body .form_data form {

    padding: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mail_body .form_data form input{
    padding: 1px 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid aquamarine;
    background-color: transparent;
    color: white;
    border-radius: 2px;
    height: 35px;
    margin-bottom: 50px;
}

.mail_body .form_data form textarea{
    padding: 12px 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid aquamarine;
    background-color: transparent;
    color: white;
    border-radius: 2px;
    height: 45px;
    margin-bottom: 50px;
}

.mail_body .form_data form input:hover {
    box-shadow: rgba(21, 221, 158, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-bottom: 2px solid aquamarine;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
.mail_body .form_data form textarea:hover {
    box-shadow: rgba(21, 221, 158, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-bottom: 2px solid aquamarine;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.submit {
    width: 40%;
    height: 35px;
    font-family: __inter_20b187, __inter_fallback_20b187, ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: .9rem;
    font-weight: 700;
    text-align: center;
    color: #64ffda;
    background-color: transparent;
    border: 2px solid #64ffda;
    margin: auto;
}

.submit:hover{
    width: 40%;
    height: 35px;
    font-family: __inter_20b187, __inter_fallback_20b187, ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: .9rem;
    font-weight: 700;
    text-align: center;
    color: #0f172a;
    background-color: #64ffda;
    border: 2px solid #64ffda;
    margin: auto;
}

.loader{
    width: 7%;
    margin: auto;
    margin-top: -250px;
    z-index: 1;
}